<div class="flex flex-wrap justify-evenly">
  @if (productsStore.products().length === 0) {
    <div class="w-full text-center mt-10 py-10 text-[50px] text-gray-500 font-medium">
      <p>
        <fa-icon [icon]="faBoxOpen" class="text-[60px]"></fa-icon>
        No products found..
      </p>
    </div>
  } @else {
    @for (product of productsStore.products(); track product.id) {
      <div class="mx-4 p-3 my-4 flex flex-col rounded-lg shadow-md">
        <div class="overflow-hidden rounded-md">
          @defer (on viewport) {
            <a routerLink="/home/product/{{ product.id }}">
              <img
                [src]="'/assets/images/' + product.imageUrl"
                [alt]="product.productName"
                class="rounded-md mx-auto transition-transform duration-300 ease-in-out transform hover:scale-105"
              />
            </a>
          } @placeholder {
            <p>Loading Products...</p>
          }
        </div>
        <div class="p-4 text-center">
          <a routerLink="/home/product/{{ product.id }}" class="no-underline">
            <h5 class="font-semibold text-black hover:text-black no-underline">
              {{ product.productName }}
            </h5>
          </a>
          <p class="text-base font-normal mt-1">{{ product.price | currency }}</p>
          @if (product.ratings > 0) {
            <ng-container>
              <app-ratings [score]="product.ratings"></app-ratings>
            </ng-container>
            <button
              (click)="addToCart(product)"
              class="flex items-center justify-center gap-3 w-full bg-blue-500 text-white px-4 py-2 rounded-lg hover:bg-blue-600 transition-colors duration-300 shadow-md mt-2 font-semibold"
            >
              <fa-icon [icon]="faShoppingCart" class="text-lg"></fa-icon>
              <span class="text-sm font-medium">Add to Cart</span>
            </button>
          }
        </div>
      </div>
    }
  }
</div>
